
<div class="middle-class margin-top box_nm boxbg table temp_margin">
<div class="container">
  <h3 class="middle-class">Editing post</h3>
<%= render 'form' %>
  <div class="left_edit">
<%= button_to 'Show', @post, class:"btn middle-class margin-top margin-bottom buttonbg", :method => "get" %>
  </div>
<%= button_to 'Back', posts_path, class:"btn middle-class margin-top margin-bottom buttonbg", :method => "get" %>
  <div class="margin_bot"></div>

</div>
</div>
<%# TODO make new frontend, add functionality in backend, convert to haml if possible %>