<div class="middle-class margin-top box_nm boxbg table">
  <h3 class="middle-class">Editing post</h3>
<%= render 'form' %>
<%= button_to 'Show', @post, class:"btn middle-class margin-top margin-bottom buttonbg", :method => "get" %>
<%= button_to 'Back', posts_path, class:"btn middle-class margin-top margin-bottom buttonbg", :method => "get" %>
</div>